@page "/"

<PageTitle>Super</PageTitle>

<div>
     <div class="col-md-6 p-6" hidden="@hideUpload">
        <RadzenCard>
            <h4 class="mb-4">Import Your Super Spreadsheet</h4>
            <RadzenUpload Visible=@showUpload Progress=@TrackProgress Url="file/import" Complete=@OnUploadComplete class="w-100" />
            <RadzenProgressBar Visible=@isUploading Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
     </div>

    <div class="col-md-12 p-3" hidden="@showEmployeeList">
        <RadzenCard>
            <div>
                <h4>Employee Id:</h4>
                <RadzenListBox @bind-Value=@selectEmployeeId Multiple=false Data=@employeeIds Change="@OnEmployeeListChange" class="w-50" />
            </div>
        </RadzenCard>
    </div>
</div>


@code 
{
    // State
    private bool isUploading;

    private bool hideUpload;

    private bool showEmployeeList = true;

    private bool showUpload = true;

    // Model
    IEnumerable<int> employeeIds;

    int selectEmployeeId;

    // Event
    void TrackProgress(UploadProgressArgs args)
    {
        isUploading = true;
        showUpload = false;
    }

    void OnUploadComplete(UploadCompleteEventArgs args)
    {
        employeeIds = args.JsonResponse.Deserialize<FileImportResult>(new JsonSerializerOptions {PropertyNameCaseInsensitive = true}).EmployeeIds;

        hideUpload = true;

        showEmployeeList = false;
    }

    void OnEmployeeListChange(object value)
    {
    }
}